alias vim="nvim"
alias r="yy"
alias c="clear"
alias t="tmux a"
alias tt="tmux"
alias dps="docker ps -a"
alias dcu="docker compose up -d"
alias dcd="docker compose down"
alias dcdv="docker compose down -v"
alias dcr="docker compose down && docker compose up -d"
alias cr="cargo run"
alias cb="cargo build"
alias lg="lazygit"
alias j="just"
